Repository posit-dev/chronicle-reports: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, air-format, just-linter

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
  language: fail

air-format:
  name: Air R Formatter
  entry: air format --check
  language: system

just-linter:
  name: just-linter
  language: system
  entry: just
  args:
  - lint
  pass_filenames: false

Add missing csv download buttons (#143)
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
  tests/testthat/test_downloads.R
Due: air-format

add agents md, update readme for posit assistant
  AGENTS.md
  CLAUDE.md
  README.md
  inst/WORDLIST
Due: none

move developer workflow to claude.md
  AGENTS.md
  CLAUDE.md
Due: none

docs: reword Chronicle gallery feed descriptions
  extensions.json
  gallery.json
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

feat: require Posit Chronicle for the gallery dashboards
  NEWS.md
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

move download icon for user summary page
  inst/apps/workbench/app.R
Due: air-format

move download icons
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

fix up doc string
  DESCRIPTION
  R/run_app.R
  README.md
  inst/WORDLIST
  man/chronicle_run_app.Rd
Due: air-format, just-linter

feat: mark the Connect and Workbench dashboards as admin-only
  extensions.json
Due: none

fix connect and workbench user list mapping
  NAMESPACE
  R/sample-data.R
  R/utils.R
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
  man/chronicle_user_lookup.Rd
  tests/testthat/helper-sample-data.R
  tests/testthat/test_chronicle_raw_data.R
  tests/testthat/test_chronicle_user_lookup.R
Due: air-format, just-linter

un-export function
  NAMESPACE
  R/utils.R
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
  man/chronicle_user_lookup.Rd
  tests/testthat/test_chronicle_user_lookup.R
Due: air-format, just-linter

Path conditions:
  forbid-to-commit: any of: \.(Rhistory|RData|Rds|rds)$
  air-format: any of: \.R$
  just-linter: any of: ^R/.*\.R
