Repository posit-dev/chronicle-reports: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, air-format, just-linter

.pre-commit-config.yaml:

# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
repos:
-   repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9015
    hooks:
    -   id: roxygenize
        additional_dependencies:
        - arrow
        - bslib
        - dbplyr
        - dplyr
        - DT
        - duckdb
        - ggplot2
        - lubridate
        - plotly
        - shiny
        - shinycssloaders
        - tidyr
    # codemeta must be above use-tidy-description when both are used
    # -   id: codemeta-description-updated
    -   id: use-tidy-description
    -   id: spell-check
        exclude: >
          (?x)^(
          .*\.[rR]|
          .*\.feather|
          .*\.jpeg|
          .*\.pdf|
          .*\.png|
          .*\.py|
          .*\.RData|
          .*\.rds|
          .*\.Rds|
          .*\.Rproj|
          .*\.sh|
          (.*/|)\.gitignore|
          (.*/|)\.gitlab-ci\.yml|
          (.*/|)\.lintr|
          (.*/|)\.pre-commit-.*|
          (.*/|)\.Rbuildignore|
          (.*/|)\.Renviron|
          (.*/|)\.Rprofile|
          (.*/|)\.travis\.yml|
          (.*/|)appveyor\.yml|
          (.*/|)NAMESPACE|
          (.*/|)renv/settings\.dcf|
          (.*/|)renv\.lock|
          (.*/|)WORDLIST|
          \.github/workflows/.*|
          data/.*|
          )$
    -   id: readme-rmd-rendered
    -   id: parsable-R
    -   id: no-browser-statement
    -   id: no-print-statement
    -   id: no-debug-statement
    -   id: deps-in-desc
    -   id: pkgdown
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: file-contents-sorter
        files: '^\.Rbuildignore$'
    -   id: end-of-file-fixer
        exclude: '\.Rd'
-   repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.6.1
    hooks:
    # Only required when https://pre-commit.ci is used for config validation
    -   id: check-pre-commit-ci-config
-   repo: local
    hooks:
    -   id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.(Rhistory|RData|Rds|rds)$'
        # `exclude: <regex>` to allow committing specific files
    -   id: air-format
        name: Air R Formatter
        entry: air format --check
        language: system
        files: \.R$
    -   id: just-linter
        name: just-linter
        language: system
        entry: just
        args: ["lint"]
        files: ^R/.*\.R
        pass_filenames: false


ci:
    autoupdate_schedule: monthly
    skip: [pkgdown]

don't use constants.R
  inst/apps/connect/app.R
Due: air-format

reuse filtered content in overview
  inst/apps/connect/app.R
Due: air-format

rename app mode to type
  inst/apps/connect/app.R
Due: air-format

Update inst/apps/connect/app.R
  inst/apps/connect/app.R
Due: air-format

address PR comments
  inst/apps/connect/app.R
Due: air-format

Build in content visits and shiny usage
  inst/apps/connect/app.R
Due: air-format

add by user pages
  inst/apps/connect/app.R
Due: air-format

remove needless rename
  inst/apps/connect/app.R
Due: air-format

remove column checks
  inst/apps/connect/app.R
Due: air-format

add additional curated metric data to sample data fn
  R/sample-data.R
Due: air-format, just-linter

format
  inst/apps/connect/app.R
Due: air-format

add user ids for content visit connection
  R/sample-data.R
Due: air-format, just-linter

update user guids to match number of users
  R/sample-data.R
Due: air-format, just-linter

remove active today
  inst/apps/connect/app.R
Due: air-format

remove active today from workbench app
  inst/apps/workbench/app.R
Due: air-format

align with connect app
  inst/apps/workbench/app.R
Due: air-format

use NA logical
  R/sample-data.R
Due: air-format, just-linter

update readme with report updates
  README.md
Due: none

adds handling for base path when set for util functions
  R/utils.R
Due: air-format, just-linter

revert to NA
  R/sample-data.R
Due: air-format, just-linter

update OR where possible
  inst/apps/connect/app.R
Due: air-format

clean up package dependencies
  .pre-commit-config.yaml
  CLAUDE.md
  DESCRIPTION
  man/chronicle_data.Rd
  man/chronicle_list_data.Rd
  man/chronicle_list_raw_data.Rd
  man/chronicle_raw_data.Rd
Due: none

fix or conditions
  inst/apps/connect/app.R
Due: air-format

update sample data
  .Rbuildignore
  .pre-commit-config.yaml
  DESCRIPTION
  NAMESPACE
  R/chronicle-reports-package.R
  R/sample-data.R
  R/utils.R
  inst/apps/connect/app.R
  man/chronicle_raw_data.Rd
  man/chronicle_sample_data.Rd
  tests/testthat/test_chronicle_data.R
  tests/testthat/test_chronicle_raw_data.R
Due: air-format, just-linter

bump version; write NEWS
  DESCRIPTION
  NEWS.md
Due: none

add manifest for connect app
  .pre-commit-config.yaml
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
Due: none

eliminate shared source file
  inst/apps/connect/app.R
Due: air-format

create manifest for workbench app
  inst/WORDLIST
  inst/apps/constants.R
  inst/apps/workbench/app.R
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: air-format

handle anonymous users for content visits and sample data
  R/sample-data.R
  inst/apps/connect/app.R
Due: air-format, just-linter

remove .data$
  inst/apps/connect/app.R
Due: air-format

fix content by type label
  inst/apps/connect/app.R
Due: air-format

undo y-axis name change
  inst/apps/connect/app.R
Due: air-format

add average daily visits value box
  inst/apps/connect/app.R
Due: air-format

separate plots
  inst/apps/connect/app.R
Due: air-format

update naming
  inst/apps/connect/app.R
Due: air-format

fix merge conflict
  inst/apps/connect/app.R
Due: air-format

clean up readme
  README.md
Due: none

Apply suggestion from @Copilot
  README.md
Due: none

Apply suggestion from @markrtucker
  README.md
Due: none

try to improve report load time
  inst/apps/connect/app.R
Due: air-format
