Repository posit-dev/chronicle-reports: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, air-format, just-linter

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
  language: fail

air-format:
  name: Air R Formatter
  entry: air format --check
  language: system

just-linter:
  name: just-linter
  language: system
  entry: just
  args:
  - lint
  pass_filenames: false

update all versions to 0.2.0
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

align all sample data with actual data
  R/sample-data.R
Due: air-format, just-linter

fix lintr warnings
  inst/apps/connect/app.R
Due: air-format

Update inst/apps/connect/app.R
  inst/apps/connect/app.R
Due: air-format

add optional directory param to sample data function
  R/sample-data.R
  man/chronicle_sample_data.Rd
Due: air-format, just-linter

remove raw data from sample data
  R/sample-data.R
Due: air-format, just-linter

have tests call write_raw_parquet_internal directly
  R/sample-data.R
  tests/testthat/test_chronicle_list.R
Due: air-format, just-linter

fix remaining tests
  tests/testthat/test_chronicle_list.R
  tests/testthat/test_chronicle_raw_data.R
Due: air-format

move test helper functions to single file
  R/sample-data.R
  tests/testthat/helper-sample-data.R
Due: air-format, just-linter

bump version; update news
  DESCRIPTION
  NEWS.md
Due: none

remove try catch from every call and use do it on initial data load
  inst/apps/connect/app.R
Due: air-format

Apply suggestion from @Copilot
  NEWS.md
Due: none

Some attempts to help performance via Claude Code
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

update app manifests
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

Try to improve arrow/S3 perf
  R/utils.R
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format, just-linter

Simplify the updates
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

Default to 90 days and prune data better
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

Load data in background
  DESCRIPTION
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

Fix sync issue
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

Try to fix initial sync again
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

Try to fix initial sync again and update date pickers
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

More date and loading fixes
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

claude suggestions
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

update renv and manifests
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

update renv.lock an manifest for 0.2.1 release
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
Due: none

update manifests
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

update renv.lock and manifest for 0.2.1 release
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

handle s3 when listing dirs
  R/utils.R
Due: air-format, just-linter

properly use base name
  R/utils.R
Due: air-format, just-linter

remove extra slash
  R/utils.R
Due: air-format, just-linter

move dplyr to depends
  DESCRIPTION
Due: none

attach dplyr to package library
  DESCRIPTION
  R/chronicle-reports-package.R
Due: air-format, just-linter

change to on load
  R/chronicle-reports-package.R
Due: air-format, just-linter

try reexport
  NAMESPACE
  R/chronicle-reports-package.R
Due: air-format, just-linter

adress PR review comments
  R/utils.R
Due: air-format, just-linter

update remaining paste calls
  R/utils.R
Due: air-format, just-linter

Path conditions:
  forbid-to-commit: any of: \.(Rhistory|RData|Rds|rds)$
  air-format: any of: \.R$
  just-linter: any of: ^R/.*\.R
