Repository posit-dev/chronicle-reports: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, air-format, just-linter

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
  language: fail

air-format:
  name: Air R Formatter
  entry: air format --check
  language: system

just-linter:
  name: just-linter
  language: system
  entry: just
  args:
  - lint
  pass_filenames: false

update checkout actions
  .github/workflows/R-CMD-check.yml
  .github/workflows/extensions.yml
Due: none

add token to other job
  .github/workflows/extensions.yml
Due: none

run precommit hook
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

add gh token to update-gallery job
  .github/workflows/extensions.yml
Due: none

add gh token to other job
  .github/workflows/extensions.yml
Due: none

update to use p3m as CRAN in manifest generation
  .pre-commit-config.yaml
  Dockerfile.manifests
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
  manifests.R
Due: air-format

fix manifest R version
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

update manifest.R to use >= instead of ~= for R version
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
  manifests.R
Due: air-format

handle and test P95 of single session
  R/sample-data.R
  tests/testthat/test_chronicle_data.R
Due: air-format, just-linter

update
  R/sample-data.R
Due: air-format, just-linter

add runas note
  README.md
Due: none

clean up
  README.md
Due: none

Fix Workbench Session Sample Data (#124)
  R/sample-data.R
  tests/testthat/test_chronicle_data.R
Due: air-format, just-linter

switch to content hits
  R/sample-data.R
  README.md
  inst/apps/connect/app.R
  man/chronicle_sample_data.Rd
  tests/testthat/test_downloads.R
Due: air-format, just-linter

implement session duration reporting
  R/sample-data.R
  README.md
  inst/WORDLIST
  inst/apps/workbench/app.R
  tests/testthat/test_chronicle_data.R
  tests/testthat/test_chronicle_list.R
Due: air-format, just-linter

fix downloads test
  tests/testthat/test_downloads.R
Due: air-format

address pr comments
  README.md
  inst/apps/workbench/app.R
Due: air-format

Remove range from title
  inst/apps/workbench/app.R
Due: air-format

Remove range from completed title
  inst/apps/workbench/app.R
Due: air-format

remove range from Total Sessions label
  inst/apps/workbench/app.R
Due: air-format

update sessions overview to contain started and completed totals
  R/sample-data.R
  inst/apps/workbench/app.R
  tests/testthat/test_chronicle_data.R
Due: air-format, just-linter

support aws oauth integration pathway
  DESCRIPTION
  R/utils.R
Due: air-format, just-linter

remove guid from label, keep searchable
  inst/apps/workbench/app.R
Due: air-format

Session Duration Reports (#127)
  R/sample-data.R
  README.md
  inst/WORDLIST
  inst/apps/workbench/app.R
  tests/testthat/test_chronicle_data.R
  tests/testthat/test_chronicle_list.R
  tests/testthat/test_downloads.R
Due: air-format, just-linter

support aws oauth integration pathway (#128)
  DESCRIPTION
  R/utils.R
Due: air-format, just-linter

update manifest, desc and news
  DESCRIPTION
  NEWS.md
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

breaking change one line
  NEWS.md
Due: none

Potential fix for pull request finding
  NEWS.md
Due: none

update manifest, desc and news (#129)
  DESCRIPTION
  NEWS.md
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

update extensions gallery to use main branch
  .github/workflows/extensions.yml
Due: none

automate manifest updates
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
  .github/workflows/update-manifests.yml
Due: none

revert extension for pr
  .github/workflows/extensions.yml
Due: none

update extensions yml
  .github/workflows/extensions.yml
Due: none

fix workflow flow
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
  .github/workflows/update-manifests.yml
Due: none

address copilot review
  .github/workflows/extensions.yml
  .github/workflows/update-manifests.yml
Due: none

use just command
  .github/workflows/update-manifests.yml
Due: none

switch to ref_name on checkout
  .github/workflows/extensions.yml
Due: none

add back PR checkout ref
  .github/workflows/extensions.yml
Due: none

update job runs for clarity
  .github/workflows/ci.yml
Due: none

update so it's clear in ci yml when extensions runs
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
Due: none

Path conditions:
  forbid-to-commit: any of: \.(Rhistory|RData|Rds|rds)$
  air-format: any of: \.R$
  just-linter: any of: ^R/.*\.R
