Repository posit-dev/chronicle-reports: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, air-format, just-linter

.pre-commit-config.yaml:

# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
repos:
-   repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9015
    hooks:
    -   id: roxygenize
        additional_dependencies:
        - arrow
        - bslib
        - dbplyr
        - dplyr
        - DT
        - duckdb
        - ggplot2
        - lubridate
        - plotly
        - shiny
        - shinycssloaders
        - tidyr
    # codemeta must be above use-tidy-description when both are used
    # -   id: codemeta-description-updated
    -   id: use-tidy-description
    -   id: spell-check
        exclude: >
          (?x)^(
          .*\.[rR]|
          .*\.feather|
          .*\.jpeg|
          .*\.pdf|
          .*\.png|
          .*\.py|
          .*\.RData|
          .*\.rds|
          .*\.Rds|
          .*\.Rproj|
          .*\.sh|
          (.*/|)\.gitignore|
          (.*/|)\.gitlab-ci\.yml|
          (.*/|)\.lintr|
          (.*/|)\.pre-commit-.*|
          (.*/|)\.Rbuildignore|
          (.*/|)\.Renviron|
          (.*/|)\.Rprofile|
          (.*/|)\.travis\.yml|
          (.*/|)appveyor\.yml|
          (.*/|)NAMESPACE|
          (.*/|)renv/settings\.dcf|
          (.*/|)renv\.lock|
          (.*/|)WORDLIST|
          \.github/workflows/.*|
          data/.*|
          )$
    -   id: readme-rmd-rendered
    -   id: parsable-R
    -   id: no-browser-statement
    -   id: no-print-statement
    -   id: no-debug-statement
    -   id: deps-in-desc
    -   id: pkgdown
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: file-contents-sorter
        files: '^\.Rbuildignore$'
    -   id: end-of-file-fixer
        exclude: '\.Rd'
-   repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.6.1
    hooks:
    # Only required when https://pre-commit.ci is used for config validation
    -   id: check-pre-commit-ci-config
-   repo: local
    hooks:
    -   id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.(Rhistory|RData|Rds|rds)$'
        # `exclude: <regex>` to allow committing specific files
    -   id: air-format
        name: Air R Formatter
        entry: air format --check
        language: system
        files: \.R$
    -   id: just-linter
        name: just-linter
        language: system
        entry: just
        args: ["lint"]
        files: ^R/.*\.R
        pass_filenames: false


ci:
    autoupdate_schedule: monthly
    skip: [pkgdown]

update manifests
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

update manifests
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

restore extensions to manifests
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

Add @t-margheim as a code owner
  .github/CODEOWNERS
Due: none

Change main to dev so we can see the extension listing in action
  .github/workflows/extensions.yml
Due: none

Update GitHub Actions to use main branch for actions
  .github/workflows/extensions.yml
Due: none

update to use token from github app
  .github/workflows/extensions.yml
Due: none

Update issue template labels
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update feature request template labels
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

test aws oauth integration support
  DESCRIPTION
  R/utils.R
Due: air-format, just-linter

add log line
  R/utils.R
Due: air-format, just-linter

sanity check
  R/chronicle-reports-package.R
Due: air-format, just-linter

bump
  DESCRIPTION
Due: none

pin
  inst/apps/connect/renv.lock
Due: none

pin manifest
  inst/apps/connect/manifest.json
Due: none

verbose errors
  inst/apps/connect/app.R
Due: air-format

add deps
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
Due: none

deps again
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
Due: none

set region
  R/utils.R
Due: air-format, just-linter

bump
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
Due: none

Add session startup reports
  R/sample-data.R
  README.md
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
  man/chronicle.reports-package.Rd
  man/chronicle_sample_data.Rd
  tests/testthat/test_chronicle_data.R
  tests/testthat/test_chronicle_list.R
Due: air-format, just-linter

Address Copilot review comments
  inst/WORDLIST
  inst/apps/workbench/app.R
Due: air-format

undo issue changes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Add Workbench session-start reports
  .pre-commit-config.yaml
  R/sample-data.R
  README.md
  inst/apps/workbench/app.R
  man/chronicle.reports-package.Rd
  man/chronicle_sample_data.Rd
  tests/testthat/test_chronicle_data.R
  tests/testthat/test_chronicle_list.R
Due: air-format, just-linter

update graphs based on feedback
  inst/apps/workbench/app.R
Due: air-format

rework graphs for filtering clarity
  inst/apps/workbench/app.R
Due: air-format

update codeowners
  .github/CODEOWNERS
  inst/WORDLIST
Due: none

Potential fix for pull request finding
  inst/apps/workbench/app.R
Due: air-format

rebuild manifests using R 4.1
  Dockerfile.manifests
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

rebuild manifests using R 4.1
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

rebuild with null values
  Dockerfile.manifests
  inst/apps/connect/manifest.json
Due: none

rebuild with null values
  inst/apps/connect/manifest.json
Due: none

fix plots not displaying
  inst/apps/workbench/app.R
Due: air-format

rebuild manifests using R 4.1
  Dockerfile.manifests
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
  manifests.R
Due: air-format

adjust R version
  inst/apps/workbench/manifest.json
Due: none

align user data across sample data sets
  R/sample-data.R
Due: air-format, just-linter

adjust R version
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

Add Workbench session-start reports (#114)
  .github/CODEOWNERS
  .pre-commit-config.yaml
  R/sample-data.R
  README.md
  inst/WORDLIST
  inst/apps/workbench/app.R
  man/chronicle.reports-package.Rd
  man/chronicle_sample_data.Rd
  tests/testthat/test_chronicle_data.R
  tests/testthat/test_chronicle_list.R
Due: air-format, just-linter

merge from main
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  inst/apps/connect/app.R
Due: air-format

use github app for extensions build
  .github/workflows/extensions.yml
Due: none
