Repository posit-dev/chronicle-reports: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, air-format, just-linter

.pre-commit-config.yaml:

# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
repos:
-   repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9015
    hooks:
    -   id: roxygenize
        additional_dependencies:
        - arrow
        - bslib
        - dbplyr
        - dplyr
        - DT
        - duckdb
        - ggplot2
        - lubridate
        - plotly
        - shiny
        - shinycssloaders
        - tidyr
    # codemeta must be above use-tidy-description when both are used
    # -   id: codemeta-description-updated
    -   id: use-tidy-description
    -   id: spell-check
        exclude: >
          (?x)^(
          .*\.[rR]|
          .*\.feather|
          .*\.jpeg|
          .*\.pdf|
          .*\.png|
          .*\.py|
          .*\.RData|
          .*\.rds|
          .*\.Rds|
          .*\.Rproj|
          .*\.sh|
          (.*/|)\.gitignore|
          (.*/|)\.gitlab-ci\.yml|
          (.*/|)\.lintr|
          (.*/|)\.pre-commit-.*|
          (.*/|)\.Rbuildignore|
          (.*/|)\.Renviron|
          (.*/|)\.Rprofile|
          (.*/|)\.travis\.yml|
          (.*/|)appveyor\.yml|
          (.*/|)NAMESPACE|
          (.*/|)renv/settings\.dcf|
          (.*/|)renv\.lock|
          (.*/|)WORDLIST|
          \.github/workflows/.*|
          data/.*|
          )$
    -   id: readme-rmd-rendered
    -   id: parsable-R
    -   id: no-browser-statement
    -   id: no-print-statement
    -   id: no-debug-statement
    -   id: deps-in-desc
    -   id: pkgdown
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=500']
    -   id: file-contents-sorter
        files: '^\.Rbuildignore$'
    -   id: end-of-file-fixer
        exclude: '\.Rd'
-   repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.6.1
    hooks:
    # Only required when https://pre-commit.ci is used for config validation
    -   id: check-pre-commit-ci-config
-   repo: local
    hooks:
    -   id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.(Rhistory|RData|Rds|rds)$'
        # `exclude: <regex>` to allow committing specific files
    -   id: air-format
        name: Air R Formatter
        entry: air format --check
        language: system
        files: \.R$
    -   id: just-linter
        name: just-linter
        language: system
        entry: just
        args: ["lint"]
        files: ^R/.*\.R
        pass_filenames: false


ci:
    autoupdate_schedule: monthly
    skip: [pkgdown]

revert change because of needs
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
Due: none

CI Workflow to Update Manifests (#131)
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
  .github/workflows/update-manifests.yml
Due: none

use different base image to get binary r packages
  Dockerfile.manifests
  manifests.R
Due: air-format

cleanup
  Dockerfile.manifests
Due: none

remove dev version indication
  NEWS.md
Due: none

simplify release condition
  .github/workflows/extensions.yml
Due: none

simplify if with ref name
  .github/workflows/extensions.yml
Due: none

Update extensions gallery to use main branch (#130)
  .github/workflows/extensions.yml
Due: none

update extensions versions
  extensions.json
  inst/WORDLIST
Due: none

remove dev version indication (#135)
  NEWS.md
Due: none

add extensions to spell check ignore
  .pre-commit-config.yaml
  inst/WORDLIST
Due: none

remove word
  inst/WORDLIST
Due: none

Remove hourly as a raw data option
  .gitignore
  NEWS.md
  R/utils.R
  man/chronicle_list_raw_data.Rd
  man/chronicle_raw_data.Rd
  tests/testthat/helper-sample-data.R
  tests/testthat/test_chronicle_list.R
  tests/testthat/test_chronicle_raw_data.R
Due: air-format, just-linter

Move bullet to breaking changes section of NEWS
  NEWS.md
Due: none

update comment
  inst/apps/workbench/app.R
Due: air-format

fix typo
  .github/workflows/ci.yml
Due: none

adress unique users with NA guid
  .pre-commit-config.yaml
  R/sample-data.R
  inst/apps/connect/app.R
Due: air-format, just-linter

update news
  NEWS.md
Due: none

README note
  README.md
  inst/WORDLIST
Due: none

move note placement
  README.md
Due: none

reformat note
  README.md
  inst/WORDLIST
Due: none

reword note
  README.md
Due: none

move note to top
  README.md
Due: none

bump extension tar
  extensions.json
Due: none

Update extensions versions (#136)
  .pre-commit-config.yaml
  extensions.json
Due: none

address copilot comments
  NEWS.md
  inst/apps/workbench/app.R
Due: air-format

`1.0.0` Release (#134)
  .github/workflows/R-CMD-check.yml
  .github/workflows/ci.yml
  .github/workflows/extensions.yml
  .github/workflows/update-manifests.yml
  .gitignore
  .lintr
  .pre-commit-config.yaml
  DESCRIPTION
  Dockerfile.manifests
  NEWS.md
  R/sample-data.R
  R/utils.R
  README.md
  extensions.json
  gallery.json
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/app.R
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
  man/chronicle.reports-package.Rd
  man/chronicle_list_raw_data.Rd
  man/chronicle_raw_data.Rd
  man/chronicle_sample_data.Rd
  manifests.R
  tests/testthat/helper-sample-data.R
  tests/testthat/test_chronicle_data.R
  tests/testthat/test_chronicle_list.R
  tests/testthat/test_chronicle_raw_data.R
  tests/testthat/test_downloads.R
Due: air-format, just-linter

update gallery extensions
  extensions.json
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

Update gallery extensions (#139)
  extensions.json
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

undo extensions.json changes
  extensions.json
Due: none

Update gallery extensions (#139) (#140)
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

bump minimum r version
  CLAUDE.md
  DESCRIPTION
  README.md
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

Update README.md
  README.md
Due: none

Bump minimum R version (#141)
  CLAUDE.md
  DESCRIPTION
  README.md
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

add message to ui when data does not exist
  R/utils.R
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
  man/chronicle.reports-package.Rd
  man/chronicle_data.Rd
  tests/testthat/test_chronicle_data.R
Due: air-format, just-linter

handle multiple missing metrics better
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

add csv downloads
  inst/apps/workbench/app.R
  tests/testthat/test_downloads.R
Due: air-format

address copilot comments
  inst/apps/workbench/app.R
  tests/testthat/test_downloads.R
Due: air-format

refactor all csv instances1
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
  tests/testthat/test_downloads.R
Due: air-format

Add message for no Data (#142)
  R/utils.R
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
  man/chronicle.reports-package.Rd
  man/chronicle_data.Rd
  tests/testthat/test_chronicle_data.R
Due: air-format, just-linter
