Repository posit-dev/chronicle-reports: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, air-format, just-linter

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
  language: fail

air-format:
  name: Air R Formatter
  entry: air format --check
  language: system

just-linter:
  name: just-linter
  language: system
  entry: just
  args:
  - lint
  pass_filenames: false

directory names must match extension names
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

improve performance by lazy loading by tab
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

adress PR comments
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

remove daterang check since we load all data
  inst/apps/connect/app.R
Due: air-format

add nav tracking to wb
  inst/apps/workbench/app.R
Due: air-format

improve performance by lazy loading by tab (#96)
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

provide option to limit amount of data loaded on startup
  README.md
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

update to allow additional data loading after initial load
  README.md
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

address copiot comments
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

fix start date variable
  inst/apps/workbench/app.R
Due: air-format

update start and end date declaration
  inst/apps/connect/app.R
Due: air-format

fix loading data on date range change
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

add helper function; handle date range change loading only required data
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

add helper function; handle date range change loading only required data (#98)
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

Optional ENV VAR to limit amount of data loaded on startup (#97)
  README.md
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

prep release for 0.2.2
  NEWS.md
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

Update NEWS.md
  NEWS.md
Due: none

Prep for `0.2.2` release (#99)
  NEWS.md
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

bump version
  DESCRIPTION
Due: none

address copilot review comments
  README.md
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

revert some changes based on need
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

bump description version (#101)
  DESCRIPTION
Due: none

address copilot review comments (#102)
  README.md
  inst/apps/connect/app.R
Due: air-format

`0.2.2` Release (#100)
  .Rbuildignore
  DESCRIPTION
  Dockerfile.manifests
  NEWS.md
  R/utils.R
  README.md
  inst/WORDLIST
  inst/apps/connect/app.R
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/app.R
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
  justfile
Due: air-format, just-linter

update manifests
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

update manifests (#103)
  inst/WORDLIST
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

update sample data
  .lintr
  R/sample-data.R
  man/chronicle_sample_data.Rd
Due: air-format, just-linter

clean up wordlist
  inst/WORDLIST
Due: none

clean up wordlist
  .pre-commit-config.yaml
  inst/WORDLIST
Due: none

merge from main
  .github/workflows/claude.yml
  Dockerfile.manifests
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

add download buttons
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

add unit tests for download widgets
  tests/testthat/test_downloads.R
Due: air-format

add bsicons to description file
  DESCRIPTION
Due: none

update manifests
  inst/apps/connect/manifest.json
  inst/apps/connect/renv.lock
  inst/apps/workbench/manifest.json
  inst/apps/workbench/renv.lock
Due: none

regenerate manifests
  Dockerfile.manifests
  inst/apps/connect/manifest.json
  inst/apps/workbench/manifest.json
Due: none

address a11y PR comments
  inst/apps/connect/app.R
  inst/apps/workbench/app.R
Due: air-format

revert changes to dockerfile
  Dockerfile.manifests
Due: none

Path conditions:
  forbid-to-commit: any of: \.(Rhistory|RData|Rds|rds)$
  air-format: any of: \.R$
  just-linter: any of: ^R/.*\.R
